In [3]:
import pandas as pd
import numpy as np

In [7]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [15]:
hier_index = list(zip(outside,inside))

In [17]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [21]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns =['A', 'B'])

In [15]:
df

             A         B
G1 1  0.377667 -0.256572
   2  0.849153  0.959456
   3  1.690523  1.420441
G2 1  1.874619 -0.601145
   2  0.314028 -0.237207
   3  0.305134  2.074738

In [25]:
df.loc['G1']

          A         B
1  0.377667 -0.256572
2  0.849153  0.959456
3  1.690523  1.420441

In [29]:
df.index.names = ['Grupo', 'Número']

In [31]:
df

                     A         B
Grupo Número
G1    1       0.377667 -0.256572
      2       0.849153  0.959456
      3       1.690523  1.420441
G2    1       1.874619 -0.601145
      2       0.314028 -0.237207
      3       0.305134  2.074738

In [41]:
df.xs(1, level='Número')

              A         B
Grupo
G1     0.377667 -0.256572
G2     1.874619 -0.601145